
$platinum: #dee5e5;
$jet: #39393a;
$chillRed: #e00700;
$green: #1a7526;
$gray: #4c606b;
$main: $platinum;
$secondary: $gray;
$primary: $green;
// $success: $white;
// $info: $yellow;


@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./bars";
@import "./signUp";



.app {
  position: relative !important;
}
.main {
  position: relative !important;
  margin-top: 60px !important;
}
